  {% extends 'main.html' %}

  {% block content %}
  {% include 'navbar.html'  %}
   <main class="main-content">
    {% include 'header.html'  %}
   
    
  <!-- Dashboard Content -->
   <div class="chart-container1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
       
    <div class="stat-card1">
  <canvas id="myChart" width="600" height="300" style="width: 100%; max-width: 500px; max-height: 300px;"></canvas>
       

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['GWAYI','SANYATI','MAZOWE','RUNDE', 'MZINGWANE','MANYAME','SAVE'],
      datasets: [{
        label: 'TOTAL EMPLOYEES',
        data: [{{gwayi_total}},{{sanyati_total}},{{mazowe_total}},{{runde_total}}, {{mzingwane_total}},{{manyame_total}},{{save_total}}],
         backgroundColor: [
                            'rgba(88, 188, 255, 1.8)',
                            'rgba(27, 168, 233, 1.8)',
                            'rgba(47, 127, 233, 1.8)',
                            'rgba(28, 94, 194, 1.8)',
                            'rgba(23, 66, 158, 1.8)',
                            'rgba(7, 35, 156, 1.8)',
                            'rgba(6, 48, 88, 1.8)',
                        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
 </div>
 </div>

 <!-- ----------------------------------------------------------------------------------------------------- -->
  <div class="chart-container1">
    <div class="stat-card1">
        <div>
  <canvas id="myChart1"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx1 = document.getElementById('myChart1');

  new Chart(ctx1, {
    type: 'line',
    data: {
      labels: ['JANUARY', 'FEBRUARY', 'MARCH', 'APRIL', 'MAY', 'JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER',],
      datasets: [{
        label: 'EMPLOYEED IN THE YEAR {{current_year}}',
        data: [{{month_jan}}, {{month_feb}},{{month_mar}},{{month_apr}},{{month_may}},{{month_jun}},{{month_jul}},{{month_aug}},{{month_sep}},{{month_oct}},{{month_nov}},{{month_dec}},],
        backgroundColor: [
                            'rgba(88, 188, 255, 1.8)',
                            'rgba(27, 168, 233, 1.8)',
                            'rgba(47, 127, 233, 1.8)',
                            'rgba(28, 94, 194, 1.8)',
                            'rgba(23, 66, 158, 1.8)',
                            'rgba(7, 35, 156, 1.8)',
                            'rgba(6, 48, 88, 1.8)',
                        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

    </div>
  </div>
 
            <style>
    .chart-container1 {
        display: flex;
        justify-content: left;
        align-items: left;
        padding: 20px;
    }
    
    .stat-card1 {
        width: 60%;  /* Adjust this value: 50%, 60%, 70%, etc. */
        max-width: 500px;  /* Maximum width */
        min-width: 300px;   /* Minimum width */
        /* margin: 0 auto; */
        background: white;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    
    /* For smaller screens */
    @media (max-width: 768px) {
        .stat-card {
            width: 90%;
        }
    }
</style>
        
</main>
         {% endblock content %}